body {
  background-color: #827370;
  
}

a {
  text-decoration: none;
}

.topMenu {
  margin: auto;
  display: inline-block;
  font-size: small;
  margin-left:5%;
  margin-right:5%;
  width:90%;
  
}

#right {
  float: right;
  display: inline-block;
}

#left {
  float: left;
  display: inline-block;
}

html {
  font-family: Georgia;
}

.wrapper{
    margin-left:5%;
    margin-right:5%;
}

.mainImage{
    
}

.header{
  background-color: #b6aca9;
  text-align: center;
}

.summary {
    
}

.leftBar {
    
}

nav {
    
}

footer{
    text-align: center;
    font-size: small;
    font-style: italic;
}

