a {
  text-decoration: none;
}

.topMenu p{
  display: inline-block;
  font-size: small;
}

#right {
  float: right;
}

#left {
  float:left;
}

html {
  font-family: Georgia;
}

.wrapper{
    
}

.mainImage{
    
}

.header{
  text-align: center;
}

.summary{
    
}

.leftBar{
    
}

nav{
    
}

footer{
    text-align: center;
    font-size: small;
    font-style: italic;
}

