body {
  background-color: #827370;
  
}

a {
  text-decoration: none;
}

.topMenu {
  margin: auto;
  display: inline-block;
  font-size: small;
  margin-left:5%;
  margin-right:5%;
  width:90%;
  
}

#right {
  float: right;
  display: inline-block;
}

#left {
  float: left;
  display: inline-block;
}

#homeImage{
    background-image: url(../images/beetEdited.jpg);
}

#projImage{
    background-image: url(../images/orchestra.jpg);
}

#backImage{
    background-image: url(../images/beetStatue.jpg);
}

#resumeImage{
    background-image: url(../images/sheetEdited.jpg);
}

html {
  font-family: Georgia;
}

.wrapper{
    margin-left:5%;
    margin-right:5%;
    box-shadow: 5px 5px 5px #1e1e1e;
    
}

.mainImage{
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-repeat: repeat-x;
    height: 202px;
    background-position: center;
}

h2{
    margin: auto;
}

.header{
    background-color: #b6aca9;
    text-align: center;
}

nav {
  background-color:#d5b8b2;
  padding: 10px;
}

footer {
    text-align: left;
    font-size: 0.6em;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom:3px;
}

#nav_selction {
  font-size: 1.25em;
  font-weight: bold;
}

.semantics_left {
  float: left;
  width: 20%;
}

.semantics_center {
  display: inline-block;
  width:50%;
}

.semantics_right {
  float: right;
  width: 30%;
}

.bth {
	color: #000000;
	font-weight: bold;
}

.title {
	color: #fff;
	font-size: 1.25em;
	font-weight: bold;
	text-shadow: 2px 2px #000000;
}

.mini_box {
  padding-top: 10px;
  height: 75px;
  background-color: #be4930;
}

.content {
  padding-top: 10px;
  height: 250px;
  background-color: #b6aca9;
}

h1 {
  margin: auto;
  
}

a:hover { 
    font-weight: bold;
}



.image_right {
  float: right;
}